/*!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*--- reset code ---*/
body{
	padding:0;
	margin:0;
	background:#FFF;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
button{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*--- end reset code ---*/
body {
	font-family: 'Quicksand', sans-serif;
}
/*-- banner --*/
	/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
.navbar-collapse.in {
    overflow-y: visible;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}
.navbar-inverse {
    background-color:transparent;
    border-color:transparent;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(8, 8, 8, 0);
}
.navbar-inverse .navbar-brand {
    color: #fff;
	font-size:2.5em;
	font-family: 'Cinzel', serif;
	font-weight:bold;
	text-transform:uppercase;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: normal;
}
@media (min-width: 768px) {
	.navbar-wrapper {
	margin-top: 20px;
}
	.navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
}
	.navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    border-radius: 4px;
}
}
/*-- link-effect --*/
/* Link Effect: borders slight translate */
.link-effect a {
	padding: 10px;
	color: #237546;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.link-effect a::before,
.link-effect a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.link-effect a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.link-effect a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.link-effect a:hover,
.link-effect a:focus {
	color: #fff;
}
.link-effect a:hover::before,
.link-effect a:focus::before,
.link-effect a:hover::after,
.link-effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
/*-- /link-effect --*/
.banner {
	background:url('https://hd.unsplash.com/photo-1469496281282-78a31417ec3d') no-repeat;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	min-height:925px;
}
/*-- slider --*/
.banner .rslides {
	height:0px;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
}
.rslides img {
	display: block;
	height: auto;
	width: 100%;
	border: 0;
}
.rslides {
	margin: 0 auto;
}



.social-icons {
    margin: 2% auto 0;
}
.social-icons  a span {
	display:inline-block;
	width:40px;
	height:40px;
	background:url(../images/social-icons.png) no-repeat 0px 0px;
}
.social-icons  span.facebook {
	background-position:0px 0px;
}
.social-icons span.twitter {
	background-position:-40px 0px;
}
.social-icons span.linkedin {
	background-position:-80px 0px;
}
.social-icons span.googleplus {
	background-position:-120px 0px;
}
span.line1 {
	width:484px;
	height:1px;
	background-color:#fff;
	display:block;
	margin:0 auto;
}
span.line2 {
	width:484px;
	height:1px;
	display:block;
	background-color:#fff;
	margin:0 auto;
}
/*-- /banner --*/
/*-- About me --*/
.about-me {
	padding:0;
	margin:0 auto;
}
.about-me h3 {
	color:#A1B3A4;
	font-size:30px;
	font-family: 'Cinzel', serif;
	line-height:25px;
	font-weight:bold;
	padding: 67px 0 55px;
}
img.img-responsive {
    margin: auto;
}
.mydetails , .myskills {
	background-color: rgba(129, 224, 144, 0.14);
}
.mydetails {
	padding:6.3em 0;
}
.mydetails h3 {
	color:#000;
	padding: 1em 0;
	font-family: 'Cinzel', serif;
	font-size:20px;
	line-height:25px;
	font-weight:bold;
}
.mydetails p {
	font-size:20px;
	line-height:25px;
	font-weight:400;
}
.mydetails .social-icons {
	padding: 1.3em 0 0;
	margin:0;
}
.mydetails .social-icons  a span {
	display:inline-block;
	width:40px;
	height:40px;
	background:url(../images/social-icons.png) no-repeat 0px 0px;
}
.mydetails .social-icons  span.facebook {
	background-position:0px 0px;
}
.mydetails .social-icons span.twitter {
	background-position:-40px 0px;
}
.mydetails .social-icons span.linkedin {
	background-position:-80px 0px;
}
.mydetails .social-icons span.googleplus {
	background-position:-120px 0px;
}
.myskills {
	padding:2em 0;
}
.myskills h3 {
	color:#000;
	padding:25px;
	font-family: 'Cinzel', serif;
	font-size:25px;
	line-height:25px;
	font-weight:bold;
}
.myskills p {
	padding:25px 37px;
	font-size:17px;
	line-height:25px;
	font-weight:400;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 10px;
	border-top:none;
}
.skill-info {
	padding:1em;
}
.skill-info h4 {
	margin-left:6%;
	font-family: 'Cinzel', serif;
	font-size:18px;
	line-height:25px;
	font-weight:bold;
}
.skill-info p {
	padding:0;
}
span.longline1 {
	width:267px;
	height:2px;
	display:inline-block;
	background-color:#A1B3A4;
	margin-top: 3%;
}
span.shortline1 {
	width:33px;
	height:2px;
	display:inline-block;
	background-color:#fff;
	margin-top: 3%;
}
span.longline2 {
	width:270px;
	height:2px;
	display:inline-block;
	background-color:#A1B3A4;
	margin-top: 3%;
}
span.shortline2 {
	width:30px;
	height:2px;
	display:inline-block;
	background-color:#fff;
	margin-top: 3%;
}
span.longline3 {
	width:285px;
	height:2px;
	display:inline-block;
	background-color:#A1B3A4;
	margin-top: 3%;
}
span.shortline3 {
	width:15px;
	height:2px;
	display:inline-block;
	background-color:#fff;
	margin-top: 3%;
}
span.longline4 {
	width:276px;
	height:2px;
	display:inline-block;
	background-color:#A1B3A4;
	margin-top: 3%;
}
span.shortline4 {
	width:24px;
	height:2px;
	display:inline-block;
	background-color:#fff;
	margin-top: 3%;
}
span.longline5 {
	width:288px;
	height:2px;
	display:inline-block;
	background-color:#A1B3A4;
	margin-top: 3%;
}
span.shortline5 {
	width:12px;
	height:2px;
	display:inline-block;
	background-color:#fff;
	margin-top: 3%;
}
/*-- /About me--*/
/*-- Portfolio --*/
.myportfolio {
	padding:0;
	margin:0 auto;
}
.myportfolio h3 {
	color:#A1B3A4;
	font-size:30px;
	font-family: 'Cinzel', serif;
	line-height:25px;
	font-weight:bold;
	padding: 85px 0 20px;
}
.myportfolio p {
	padding: 5px 0 15px;
	font-size:17px;
	line-height:25px;
	font-weight:400;
}
/*-- /Portfolio --*/

/*-- /work --*/

.work {
	padding:0;
	margin:0 auto;
}
.work h3 {
	color:#A1B3A4;
	font-size:30px;
	font-family: 'Cinzel', serif;
	line-height:25px;
	font-weight:bold;
	padding: 50px 0 40px;
}

/*-- /work --*/
/*-- skills --*/
.skills {
	padding:0;
	margin:0 auto;
}
.skills h3 {
	color:#A1B3A4;
	font-size:30px;
	font-family: 'Cinzel', serif;
	line-height:25px;
	font-weight:bold;
	padding: 50px 0 40px;
}

/*-- /education --*/

.education {
	padding:0;
	margin:0 auto;
}
.education h3 {
	color:#A1B3A4;
	font-size:30px;
	font-family: 'Cinzel', serif;
	line-height:25px;
	font-weight:bold;
	padding: 50px 0 40px;
}

/*-- /education --*/
/*-- Footer --*/
.contact-me {
	padding:0;
	position:relative;
	margin:0 auto;
}
.contact-me h3 {
	color:#A1B3A4;
	font-size:30px;
	font-family: 'Cinzel', serif;
	line-height:25px;
	font-weight:bold;
	padding: 80px 0 20px;
}
.contact-me p {
	padding:5px 0 60px;
	font-size:17px;
	line-height:25px;
	font-weight:400;
}

.contact-me button.btn.btn-default.btn-lg {
	background-color:#A1B3A4;
	border-color:#A1B3A4;
	color: #fff;
	outline:none;
	border-radius:0px;
	margin: 3% auto 0;
	padding: 15px 35px;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
.contact-me button.btn.btn-default.btn-lg:hover {
	background-color:#000;
	color:#fff;
}
.contact-info h4 {
	font-family: 'Cinzel', serif;
	font-size:20px;
	line-height:25px;
	font-weight:bold;
}
.contact-info p {
    padding: 15px 0;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
	color:#000;
}
.footer-info i{
	color:#A1B3A4;
	font-size: 30px;
    margin: 25px 20px 10px 25px;
    display: inline-block;
}
p.p1{
	padding:0;
	display: inline-block;
	color: #000;
	vertical-align: middle;
	    margin: -50px 0 0;
	font-size:16px;
	font-weight: 500;
}
p.p2 {
	padding:0;
	display:block;
	color: #000;
	vertical-align: middle;
	font-weight: 500;
	font-size:16px;
	margin: -27px 0 0 80px;
}
p.p1 a {
	text-decoration:none;
	color:#000;
}
p.p1 a:hover {
	color:#A1B3A4;
}
p.p2 a {
	text-decoration:none;
	color:#000;
}
p.p2 a:hover {
	color:#A1B3A4;
}
.contact-info h5 {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
	padding: 2em 0 0 .3em;
}
hr{
	border-top:1px solid #BDB8B8;
	margin-top:45px;
}
.copyright p a{
	text-decoration:none;
	color:#8C8C8C;
}
.copyright p{
	color:#8C8C8C;
	padding: 5px 0 17px;
	font-weight:400;
	font-size:15px;
}
footer span.glyphicon.glyphicon-chevron-up {
	margin: 0 0 0 50%;
	color:red;
}
/*-- /Footer --*/
/*-- sliding --*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}
/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*-- /sliding --*/
/*---- responsive-design -----*/
@media (max-width: 1600px) {
	.banner {
	min-height:795px;
	}
	.banner .rslides {
	height:795px;
	}

}

@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1080px) {
	.grid figure, .grid .placeholder {
    width: 295px;
    height: 295px;
}
	.grid figure {
    margin: 10px;
}





}

@media (max-width: 1024px) {
	.banner {
    min-height: 675px;
}
	.banner .rslides {
    height: 675px;
}

}

@media (max-width: 991px) {
	.grid figure, .grid .placeholder {
    width: 280px;
    height: 280px;
}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -100px;
}
	.navbar-nav {
    margin-right: -20%;
    margin-left: 18%;
}
	.mydetails {
    padding: 3em 0;
}
	.mydetails .social-icons {
    padding: 1.2em 0 0;
}
	.contact-info {
    margin-top: 30px;
}
}

@media (max-width: 900px) {
	.grid figure, .grid .placeholder {
    width: 260px;
    height: 260px;
}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -45px;
}
	.navbar-nav {
    margin-right: -12%;
    margin-left: 12%;
}
	.fader .slider {
	right:4%;
}
	.mygallery img.img-rounded {
    height: 250px;
}
}

@media (max-width: 800px) {
	.banner {
    min-height: 600px;
}
	.banner .rslides {
    height: 600px;
}

	.grid figure, .grid .placeholder {
    width: 230px;
    height: 230px;
}
	.grid figure {
    margin: 5px;
}
	.navbar-nav {
    margin-right: 0%;
    margin-left: 0%;
}
	.fader .slider {
	right:2%;
}
	span.line1 , span.line2 {
	width:327px;
}

}

@media (max-width: 768px) {

	.mygallery img.img-responsive {
    height: 200px;
}

.content-img {
	height: 312px;
}
	.mygallery h3 {
	padding: 60px 0 40px;
}
	.contact-info h4 {
	padding-bottom:20px;
}
	.contact-me p {
    padding: 5px 0 30px;
}
	.myskills {
    padding: 0em 0 2em;
}
	.fader .slider {
	right:1%;
}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -30px;
}
	.navbar-inverse .navbar-brand {
	font-size:2em;
}
}

@media (max-width: 736px) {
	.mygallery img.img-responsive {
    height: 220px;
}
	.about-me h3.text-center {
	padding: 65px 0 40px;
}
	.about-me .myskills h3.text-center {
	padding:20px 0 10px;
}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 5px;
}
	.navbar-nav {
	background-color:rgba(0,0,0,0.77);
	text-align:center;
}
	.banner {
	min-height:360px;
}
	.banner .rslides {
    height: 360px;
}

	span.line1 , span.line2 {
	width:300px;
}

}

@media (max-width: 667px) {

	span.line1 , span.line2 {
	width:272px;
}
	.content-img {
    height: 385px;
}
}

@media (max-width: 640px) {

	span.line1 , span.line2 {
	width:242px;
}
	.content-img {
    height: 374px;
}
	.myportfolio p.content-text {
	padding:0 50px 100px;
}
}

@media (max-width: 600px){
	.content-img {
    height: 350px;
}
	.close-content {
	top:-17px;
}

}

@media (max-width: 568px){
	.banner {
    min-height: 265px;
}
	.banner .rslides {
    height: 265px;
}

	.content-img {
    height: 332px;
}
	.myportfolio p.content-text {
    padding: 0 35px 70px;
}
}

@media (max-width: 480px){


	.content-img {
    height: 200px;
}
.about-me h3.text-center {
    padding: 35px 0;
	font-size:25px;
}
.mydetails h3 {
	font-size:18px;
}
.mydetails p {
    font-size: 16px;
}
.about-me .myskills h3.text-center {
    padding: 0px 0 0px;
	font-size:22px;
}
.myskills p {
	font-size:15px;
}
.myportfolio h3 {
	font-size:25px;
	padding:40px 0 20px;
}
.myportfolio p {
	font-size:15px;
}
.mygallery h3 {
    padding: 50px 0 40px;
	font-size:25px;
}
.contact-me h3 {
	font-size:25px;
	padding:40px 0 15px;
}
.contact-me p {
	font-size:15px;
}
.contact-info p {
	font-size:15px;
}
.navbar-inverse .navbar-brand {
    font-size: 26px;
}
}

@media (max-width: 414px){

	.mygallery img.img-responsive {
    height: 185px;
}
	.myportfolio h3.content-text {
	font-size:25px;
}
	.myportfolio p.content-text {
	font-size:15px;
}
	.contact-info h5 {
	padding:5px 0 10px;
}
	hr {
	margin-top:0;
}
	input#name,input#email {
	height:45px;
}
}

@media (max-width: 384px) {

	.about-me h3.text-center {
		font-size:23px;
	}
	.about-me .myskills h3.text-center {
		font-size:20px;
	}
	p.skill-text {
    padding: 15px 25px 25px;
}
	.myportfolio h3 {
    font-size: 23px;
    padding: 35px 0 15px;
}
	.mygallery h3 {
    padding: 40px 0;
    font-size: 23px;
}
	.contact-me h3 {
    font-size: 23px;
    padding: 35px 0 15px;
}
	.mygallery img.img-responsive {
    height: 170px;
}
	.content-img {
    height: 200px;
}
	.myskills p {
	font-size:15px;
}
	p.skill-text {
    padding: 25px;
}
	.contact-me p {
	font-size:15px;
}
	.contact-info p {
	font-size:15px;
}
	.myportfolio h3.content-text {
    font-size: 22px;
}
}

@media (max-width: 375px) {
	.mygallery img.img-responsive {
    height: 165px;
}
	.myportfolio p{
	font-size:15px;
}
	.myportfolio h3.content-text {
	font-size:20px;
}
	.content-img {
    height: 155px;
}
	.myportfolio p.content-text {
    padding: 0 20px 70px;
}
}

@media (max-width: 320px) {

	.contact-info p {
	padding-bottom:5px;
}
	input#name {
	margin-top:10px;
}
	.contact-info h5 {
	padding-top:1em;
}
	hr {
	margin-top:20px;
}
	.about-me .myskills h3.text-center {
    padding: 10px 0 10px;
}
	.contact-me button.btn.btn-default.btn-lg {
	padding:10px 25px;
}
	.myportfolio p {
    padding: 0px 0 0px;
}
	.mygallery img.img-responsive {
    height: 145px;
}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -13px;
}
	.content-img {
    height: 151px;
}
	p.skill-text {
    padding: 20px;
}
	.contact-me p {
    font-size: 14px;
    padding-bottom: 10px;
}
}


.work {
    background: white;
}
.work-left {
    text-align: right;
    padding: 3em 5em 0 0;
}
.work-right {
    border-left: 1px solid #999;
    padding: 2.5em 0 2em 6em;
}
.work-info h4 {
    font-size: 1.2em;
    background: #FFF056;
    display: inline-block;
    padding: .6em 1.2em;
    color: #191919;
	position:relative;
}
.work-info h4:before {
    width: 0;
    height: 0;
    position: absolute;
	/*-- w3layouts --*/
    content: '';
    top: 9px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #FFF056;
}
.work-info h5 {
    font-size: 1.3em;
    color: #E44424;
    margin-bottom: .5em;
    border: 1px solid #E44424;
    display: inline-block;
    padding: 0 1.2em;
}
.work-info p{
	text-align: justify;
}
.work-info h5 span.glyphicon {
    font-size: 0.9em;
    color: #fff;
    background: #FF9009;
    padding: 1em;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    border-radius: 70%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
.work-right h5 span.glyphicon {
    margin-right: 5em;
    margin-left: -8em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 4em;
    margin-right: -7.3em;
    z-index: 9;
}
.work-right.work-right2 {
    min-height: 210px;
    float: right;
}
.work-right.work-right2 h4:before {
    left: -14px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	/*-- agileits --*/
    transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
.work-right.work-right2 h4 {
    margin-top: 0.8em;
}
.work-info:hover h5 span.glyphicon {
    color: white;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
    transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
/*--//work--*/
/*Sills Info*/
.skills-info{
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.skills-info h6{
	text-align: center;
}

.banner{
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('https://static.pexels.com/photos/8704/pen-idea-bulb-paper.jpg');
  text-align: center;
  color: white;
	min-height: 720px;
-webkit-filter: grayscale(85%); Chrome, Safari, Opera/*     filter: grayscale(100%);
 */}
header .header-content {
  position: relative;
  text-align: center;
  padding: 200px 15px 100px;
   width: 100%;
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;

}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
	padding-top: 60px;
	text-shadow: 6px 2px 8px white);
	letter-spacing: 12px;

}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner h2 {
  font-weight: 300;
  color: white;
	font-size: 50px;
  margin-bottom: 50px;
	letter-spacing: 8px;
	padding-top: 60px;
	text-shadow: 6px 2px 8px white);


}

header .header-content .header-content-inner h3 {
  font-weight: 300;
  color: white;
	font-size: 35px;
  margin-bottom: 50px;
	letter-spacing: 8px;
	padding-top: 60px;
	text-shadow: 6px 2px 8px white);


}

#rslides1_s0{
	float: none !important;
}
